body{
    position: absolute;
    width: 100%;
    height: 750px;
    background: #bdc3c7;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(210, 30%, 24%, 0.605), hsla(204, 8%, 76%, 0.507)), url(../img/portada.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(210, 30%, 24%, 0.605), hsla(204, 8%, 76%, 0.504)), url(../img/portada.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}